<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!--<div>-->
<!--       <div-->
<!--            flxLayout="row">-->
<!--            <div fxFlex="10" class="branding">-->
<!--            <h1>Sonatel Academy</h1>-->
<!--            </div>-->

<!--            <div fxFlex="70">-->

<!--              <mat-form-field>-->
<!--               <input>-->
<!--               <mat-autocomplete>-->
<!--                 <mat-date-range-input>-->
<!--                   Recherche-->
<!--                 </mat-date-range-input>-->
<!--               </mat-autocomplete>-->
<!--              </mat-form-field>-->

<!--              <mat-form-field class="material-input-full-width">-->
<!--                <input matInput placeholder="Search items." value="" >-->
<!--              </mat-form-field>-->

<!--           </div>-->
<!--       <div fxlayout="row" fxFlex="15" fxLayoutAlign="end center">-->
<!--            <button mat-icon-button aria-label="Button with a search icon">-->
<!--              <mat-icon class="toolbar-icon">Search</mat-icon>-->

<!--            </button>-->
<!--         <button mat-icon-button matBadge="8" matBadgeColor="warn" [matMenuTriggerFor]="menu">-->
<!--           <mat-icon class="toolbar-icon">Search</mat-icon>-->

<!--         </button>-->
<!--        <div class="col-lg-pull-3">-->
<!--       <div class="mat-card-avatar" avatar></div>-->
<!--        </div>-->

<!--       </div>-->
<!--       </div>-->
<!--       <div-->
<!--             flxLayout="row">-->

<!--       </div>-->


<!--</div>-->
